.card-body {
    position: relative;
}

.card-text h2 {
    position: relative;
}

.card-text h5 {
    position: relative;
    font-size: 100%;
    color: rgb(58, 58, 58);
    font-weight: 300;
}

hr {
    height: 1px !important;
    color: black;
}

.option {
    font-weight: 300;
}

.check-out-money h4 {
    text-align: right;
}

.purchase button {
    align-items: flex-end;
}
