@using NewTheKStore.Models;
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    account acc = ViewBag.acc;
}

<head>
    <link href="../Content/Style-login.css" rel="stylesheet" />
</head>
<div class="container signin-area">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Change your account password.</h5>
                    <form class="form-signin" method="post" action="SavePassword">
                        <input type="type" name="id" value="@acc.userID" style="display: none;" />
                        <div class="form-label-group mt-3">
                            <input type="password" name="" id="currentpassword" class="form-control" placeholder="Password" required>

                        </div>
                        <hr class="my-1">
                        <div class="form-label-group">
                            <input type="password" name="pass" id="newpassword" class="form-control" placeholder="New password" required>

                        </div>
                        <div class="form-label-group my-1">
                            <input type="password" name="verifyPassword" id="verifynewpassword" class="form-control" placeholder="Confirm password" required>

                        </div>
                        <hr class="my-2">
                        <button class="btn btn-lg btn-primary btn-block" id="submit" type="">Confirm</button>
                        <div class="account-options">
                            <a href="@Url.Action("Login","Home")" class="register">Go to login.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-5" />
</div>

<script>
    function save() {
        var newpassword = document.getElementById("newpassword").innerHTML || document.getElementById("newpassword").value;
        var verifynewpassword = document.getElementById("verifynewpassword").innerHTML || document.getElementById("verifynewpassword").value;
        var currentpassword = document.getElementById("currentpassword").innerHTML || document.getElementById("currentpassword").value;
        
        if (currentpassword != "@acc.password") {
            alert('Current password incorrect!');
        } else if (newpassword == "") {
            alert('Please enter new password!');

        } else if (newpassword != verifynewpassword) {
            alert('Verify password doens\'t match!');
        } else {
            document.getElementById("submit").type = "submit";
            document.getElementById("submit").click();
        @*location.href = window.location.protocol + "//" + window.location.host + "@Url.Action("SavePassword")?id=@acc.userID&pass=" + newpassword;*@
        }
    }
</script>


